/*---------- Fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Galada&family=Molle:ital@1&family=Shrikhand&display=swap');

.main-title{
    font-family: "Shrikhand", sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

h1, h2, h3, h4, h5 {
    font-family: "Galada", sans-serif;    
}

.recipe-title {
    font-family: "Molle", sans-serif;
}

p {
    font-family: "Happy Monkey", sans-serif;
}


/*---------- Colours ----------*/

h1 {
    color: #4e342e;
}

h2 {
    color: #582e44;
}

.olive {
    color: #582e44;
}

.deep-red {
    color: #a8293c;
}

.light-orange {
    color: #f88e28;
}

.my-yellow {
    color: #f8b735;
}

.dark-brown {
    color: #4e342e;
}

.mid-brown {
    color: #a34603;
}

.light-grey {
    color: #e1e6e2;
}

/*---------- Flash Messages ----------*/

.flashes h4 {
    line-height: 2;
}

.flashes {
    background-color: #f8b735;
}

/*---------- Anchor Links ----------*/

#manage-link,
.recipe-link,
.signup-link {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: #994a26;
    color: #e1e6e2;
}

/*---------- General Layout ----------*/

.container {
    margin-top: 4rem;
}

.page-link {
    margin: 4rem;
}

/*---------- Base Template ----------*/

main {
    min-height: 95vh;
}

/*-- Header --*/

.brand-logo img {
    height: 4rem;
    margin-left: 2rem;
    width: auto;    
}

.navlinks {
    font-family: "Galada", sans-serif;
    letter-spacing: 2px;
}

body {
    background-image: url('/static/img/main-background_1900.jpg');             
}

/*----- Footer -----*/

footer .container {
    margin-top: 0;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

footer li {
    display: inline;
    margin: 0.5rem;
}

.footer-text {
    font-family: "Happy Monkey", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 0.5rem;    
}

.footer-text,
.social-links {
    color: #e1e6e2;
}

.social-links {
    font-size: 2rem;
    padding-left: 1rem;
}

.email-link,
.social-links {
    background-color: #a8293c;
}

.toggle {
    background-color: #e1e6e2;
    color: #a8293c;
}

#email-me {
    padding-top: 0.5rem;
}

.email-link {    
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.social-links {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 1rem;
}

/*---------- Home Page ----------*/

.cta-1, .cta-2 {
    font-family: "Shrikhand", sans-serif;    
    font-size: 2rem;
}

.cta-2 {
    margin-top: 5rem;
}

.cta-3 {
    font-family: "Galada", sans-serif;    
    font-size: 2rem;
}

/*-- Arrow Animation adapted from 
https://codepen.io/alianmorales/pen/GyrgjO --*/
.arrows {
    display: flex;
    justify-content: space-evenly;
}

.cta-arrow {
    font-size: 3rem;
    color: #a8293c;
    animation: slide1 1s ease-in-out infinite;
    display: inline-block;    
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(10px, 0);
  }

  50% {
    transform: translate(10px, 10px);
  }
}

.register {
    font-family: "Happy Monkey", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;    
}

.sign-up {
    text-decoration: underline;    
    margin-left: 2rem;
}
/*---------- Pagination ----------*/



/*---------- Recipes Page ----------*/



/*---------- Recipe Cards ----------*/

.card {
    height: 30rem;
}

.recipe-image {
    max-height: 15rem;           
}

.recipe-title {
    margin-bottom: 0;
}

.card-content {
    padding-top: 1rem;    
}

.recipe-title {
    margin-top: 1rem;
}

.recipe-cards {
    padding: 0.1rem;
}

/*---------- Search Card ----------*/

#search-button, #filter-button {
    margin-right: 1rem;
}

/*---------- Full Recipe Page ----------*/

.recipe-text {
    font-family: "Happy Monkey", sans-serif;
}

#recipe-image {
    max-width: 100%;
    height: 25rem;
    
}

#full-prep,
#full-cook {
    padding-top: 1.2rem;
}

#full-flag {
    padding-left: 4rem;
}

#ingredients li {
    list-style-type: disc;
    margin-left: 3rem;
}

/*---------- Add Recipe ----------*/

.add-edit {
    margin: 0 4rem;
}

#image-container img {
    max-height: 15rem;
    width: auto;
    border: 0.25rem solid #000;
    margin-left: 3rem;
}

#cancel-add {
    margin-right: 1rem;
}

/*---------- Manage Recipes ----------*/

.edit-pic {
    max-height: 15rem;
}

.card-action {
    padding: 0rem;    
}

.fixed-action-btn {
    position: relative; 
    float: right; 
    bottom: 3rem; 
    right: 0.25rem
}

.edit-content {
    position: relative;
    padding-top: 0 !important;
    top: 0;
}

/*---------- Edit Recipes ----------*/

.edit-card {
    height: 30rem;
}

.edit-img {
    max-height: 15rem;
    width: 80%;
    border: 0.25rem solid #000;
    margin-left: 3rem;
}

#recipe-edit {
    margin-left: 1rem;
}

.modal-footer {
    text-align: center !important;
}

#delete-check {
    font-size: 1.2rem;
    color: #a8293c;
    font-weight: bold;
}

/*---------- Profile Page ----------*/

.user-img {
    height: 17.5rem;
    width: auto;
}

#profile-card {
    padding-bottom: 5rem;
}

/*---------- Edit Profile Page ----------*/

#edit-switch {
    margin: 1rem 0;
}

#profile-edit {
    margin-bottom: 2rem;
}

#pro-edit-cancel {
    margin-right: 1rem;
}

/*---------- Error Pages ----------*/

h2, h3 {
    padding-top: 1.5rem;
}

/*---------- Media Queries ----------*/

@media (max-width: 43rem) {
    .brand-logo {
        height: 3.5rem;
        width: auto;
    }

    #manage-link {
        padding: 1.2rem;
    }
    
    .edit-img {
        margin-left: 0;
        width: 100%;
        margin-bottom: 1rem !important;
    }
}