/*---------- Fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Galada&family=Molle:ital@1&family=Shrikhand&display=swap');

.main-title{
    font-family: "Shrikhand", sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

h1, h2, h3, h4, h5 {
    font-family: "Galada", sans-serif;    
}

.recipe-title {
    font-family: "Molle", sans-serif;
}

p {
    font-family: "Happy Monkey", sans-serif;
}


/*---------- Colours ----------*/



/*---------- Flash Messages ----------*/

.flashes h4 {
    line-height: 2;
}

.flashes {
    background-color: burlywood;
}

/*---------- Base Template ----------*/

main {
    min-height: 95vh;
}

/*-- Header --*/

.brand-logo img {
    height: 65px;
    margin-left: 2rem;
    width: auto;    
}

.navlinks {
    font-family: "Galada", sans-serif;
    letter-spacing: 2px;
}

/*-- Footer --*/

.footer-list {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

footer li {
    display: inline;
    margin: 0.5rem;
}

.footer-text {
    font-family: "Happy Monkey", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 0.5rem;
}

.social-links {
    font-size: 2rem;
    padding-left: 1rem;
}

body {
    background-image: url('/static/img/main-background_1900.jpg');             
}

h1 {
    color: #4e342e;
}

/*---------- Home Page ----------*/

.cta-1, .cta-2 {
    font-family: "Shrikhand", sans-serif;    
    font-size: 2rem;
}

.cta-2 {
    margin-top: 5rem;
}

.cta-3 {
    font-family: "Galada", sans-serif;    
    font-size: 2rem;
}

/*-- Arrow Animation adapted from 
https://codepen.io/alianmorales/pen/GyrgjO --*/
.arrows {
    display: flex;
    justify-content: space-evenly;
}

.cta-arrow {
    font-size: 3rem;
    color: red;
    animation: slide1 1s ease-in-out infinite;
    display: inline-block;    
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(10px, 0);
  }

  50% {
    transform: translate(10px, 10px);
  }
}

.register {
    font-family: "Happy Monkey", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;    
}

.sign-up {
    text-decoration: underline;    
    margin-left: 2rem;
}

/*---------- Recipe Cards ----------*/

.card {
    height: 28rem;
}

.recipe-image {
    max-height: 15rem;
}

.card-content {
    padding-top: 1rem;
}

.recipe-title {
    margin-top: 1rem;
}

.recipe-cards {
    padding: 0.1rem;
}

/*---------- Search Card ----------*/

#search-button, #filter-button {
    margin-right: 1rem;
}

/*---------- Full Recipe Page ----------*/

.recipe-text {
    font-family: "Happy Monkey", sans-serif;
}

#recipe-image {
    width: 100%;
}

#ingredients li {
    list-style-type: disc;
    margin-left: 3rem;
}

/*---------- Add Recipe ----------*/

.add-edit {
    margin: 0 4rem;
}

#image-container img {
    max-height: 15rem;
    width: auto;
    border: 0.25rem solid #000;
    margin-left: 3rem;
}

/*---------- Manage Recipes ----------*/

.edit-pic {
    max-height: 15rem;
}

.card-action {
    padding: 0rem;    
}

.fixed-action-btn {
    position: relative; 
    float: right; 
    bottom: 3rem; 
    right: 0.25rem
}

.edit-content {
    position: relative;
    padding-top: 0 !important;
    top: 0;
}

/*---------- Edit Recipes ----------*/

.edit-card {
    height: 30rem;
}

.edit-img {
    max-height: 15rem;
    width: auto;
    border: 0.25rem solid #000;
    margin-left: 3rem;
}

/*---------- Profile Page ----------*/

.user-img {
    height: 17.5rem;
    width: auto;
}

#profile-card {
    padding-bottom: 5rem;
}

/*---------- Edit Profile Page ----------*/

#edit-switch {
    margin: 1rem 0;
}

#profile-edit {
    margin-bottom: 2rem;
}

/*---------- Media Queries ----------*/

@media (max-width: 43rem) {

}