{% extends 'base.html' %}
{% block content %}

    <div class="container">   
        <div class="card-panel center-align">
            <h1>500 - Internal server error</h1>            
            <h3>Please use the navbar to navigate back to the site</h3>
        </div>
    </div> 

{% endblock %}

{% block scripts %}
    <script>
        var seconds = 6;
        // countdown timer. took 6 because page takes approx 1 sec to load

        var url = "{{url_for('home')}}";
        // variable for index.html url

        function redirect() {
            if (seconds <= 0) {

                // redirect to new url after counter  down.
                window.location = url;
            } else {
                seconds--;
                document.getElementById("pageInfo").innerHTML = "Redirecting to Home Page after "
                    + seconds + " seconds."
                setTimeout("redirect()", 1000)
            }
        }
    </script>    
{% endblock %}