{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Add Your Recipe Here</h1>    
    
    <div class="row add-edit">
        <div class="col s12">
            <div class="row card-panel grey lighten-5">
                <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
                    <div class="row">
                        <div class="col s12 l4">
                            <div class="input-field form-field">
                                <!-- Country Select -->
                                <i class="fas fa-globe-americas prefix" aria-hidden="true"></i>
                                <select id="country_name" name="country_name" class="validate" required>                            
                                    <option value="" disabled selected>Choose Recipe Country</option>
                                    {% for country in countries %}
                                        <option value="{{ country.name }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="country_name">Recipe Origin</label>
                            </div>                    
                            <div class="input-field form-field">
                                <!-- Recipe Name Input -->
                                <i class="fas fa-pen prefix" aria-hidden="true"></i>
                                <input placeholder="Recipe Name" id="title" name="title" type="text" class="validate"
                                    minlength="5" maxlength="50" required>
                                <label for="title">Recipe Name</label>
                            </div>
                            <div class="input-field form-field">
                                <!-- Recipe Category Select -->
                                <i class="fas fa-drumstick-bite prefix" aria-hidden="true"></i>
                                <select id="recipe_category" name="recipe_category" class="validate" required>                            
                                    <option value="" disabled selected>Choose Recipe Category</option>
                                    {% for category in categories %}
                                        <option value="{{ category.recipe_type }}">{{ category.recipe_type }}</option>
                                    {% endfor %}
                                </select>
                                <label for="recipe_category">Recipe Category</label>
                            </div>
                            <div class="row form-field">
                                <!-- Vegan Checkbox -->
                                <div class="col l12 xl6 switch">
                                    <i class="fas fa-leaf prefix leaf"></i> <span class="veg-text">Vegan</span>                                    
                                    <label for="vegan">
                                        No
                                        <input type="checkbox" id="vegan" name="vegan">                                        
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                                <!-- Vegetarian Checkbox -->
                                <div id="veg-switch" class="col l12 xl6 switch">                                    
                                    <i class="fas fa-seedling prefix leaf"></i> <span class="veg-text">Vegetarian</span>
                                    <label for="vegetarian">
                                        No 
                                        <input type="checkbox" id="vegetarian" name="vegetarian">                                        
                                        <span class="lever"></span>
                                        Yes                                        
                                    </label>    
                                </div>
                            </div>                    
                            <div class="input-field form-field">
                                <!-- Servings Input Field -->
                                <i class="fas fa-users prefix" aria-hidden="true"></i>
                                <select id="servings" name="servings" class="validate" required>
                                    <option value="" disabled selected>Number of servings</option>
                                    {% for i in range(1, 31) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <label for="servings">Servings</label>
                            </div>
                            <div class="input-field form-field">
                                <!-- Image URL Input -->
                                <i class="fas fa-camera prefix" aria-hidden="true"></i>
                                <input placeholder="Image URL" id="image_url" name="image_url" type="url" 
                                    onchange="addImage();" pattern="https://.*" class="validate">
                                <label for="image_url">Recipe Image</label>
                            </div>
                            <!-- Image Display/Checking field -->
                            <div id="image-container" class="center-align">
                                
                            </div>
                            <div id="img-sources" class="card-panel">
                                <p id="url-msg">These are great sites for searching up licence free image URL's:</p>
                                <div class="row">
                                    <div class="col s12 m4 center-align">
                                        <a class="img-link" href="https://imgur.com/" target="_blank">Imgur</a>
                                    </div>
                                    <div class="col s12 m4 center-align">
                                        <a class="img-link" href="https://pixabay.com/" target="_blank">Pixabay</a>
                                    </div>
                                    <div class="col s12 m4 center-align">
                                        <a class="img-link" href="https://www.pexels.com/" target="_blank">Pexels</a>
                                    </div>
                                </div>
                                    
                            </div>
                        </div>                    
                                        
                        <div class="col s12 m12 l4">
                            <!-- Preparation Time Input -->
                            <div class="input-field form-field">
                                <i class="fas fa-stopwatch prefix" aria-hidden="true"></i>
                                <input placeholder="Prep' Time (mins)" id="prep_time" 
                                    name="prep_time" type="text" class="validate" required>
                                <label for="prep_time">Preparation Time</label>
                            </div>
                            <!-- Cooking Time Input Field -->
                            <div class="input-field form-field">
                                <i class="fas fa-hourglass-half prefix" aria-hidden="true"></i>
                                <input placeholder="Cooking Time (mins)" id="cooking_time" name="cooking_time" type="text" class="validate" required>
                                <label for="cooking_time">Cooking Time</label>
                            </div>
                            <!-- Recipe Description Field -->                    
                            <div class="input-field form-field">
                                <i class="fas fa-file-alt prefix" aria-hidden="true"></i>
                                <textarea id="description" name="description" class="materialize-textarea validate" placeholder="Recipe Description"
                                    minlength="10" maxlength="200" required></textarea>
                                <label for="description">Recipe Description</label>
                            </div>
                            <!-- Recipe Ingredients Input -->
                            <div class="input-field">
                                <i class="fas fa-list-ul prefix" aria-hidden="true"></i>
                                <textarea id="ingredients" name="ingredients" class="materialize-textarea validate tooltipped"
                                    data-position="bottom" data-tooltip="Please add each ingredient on a new line!" placeholder="Recipe Ingredients"
                                    minlength ="4" required></textarea>
                                <label for="ingredients">Recipe Ingredients</label>
                                <a class="" ></a>
                            </div>
                        </div>
                        <div class="col s12 m12 l4">
                            <!-- Recipe Method Input -->
                            <div class="input-field">
                                <i class="fas fa-list-ol prefix" aria-hidden="true"></i>
                                <textarea id="method" name="method" class="materialize-textarea validate tooltipped"
                                    data-position="bottom" data-tooltip="Please add each preparation step on a new line!" placeholder="Preparation Steps"
                                    minlength="10" required></textarea>
                                <label for="method">Recipe Method</label>
                            </div>
                        </div>
                    </div>
                    <!-- Recipe Submit Button -->
                    <div class="row">
                        <div class="col s6 right-align">
                            <a id="cancel-add" href="{{ url_for('get_recipes') }}" class="btn red tooltipped" data-position="bottom" data-tooltip="This will take you back to the recipes page">
                                Cancel <i class="fas fa-times-circle right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col s6 left-align">
                            <button type="submit" data-target="added" class="btn waves-effect center-align light-green darken-4" >Add Recipe
                                <i class="fas fa-paper-plane" aria-hidden="true"></i>
                            </button>                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}