{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Recipes Dashboard</h1>
    <div class="row center-align">
        <!-- World Map iframe from MongoDB Charts -->
        <div class="col s12 m6">
            <iframe title="Recipes by Country"             
            src="https://charts.mongodb.com/charts-ms3-w3-recipes-cluix/embed/charts?id=a3e36574-0cfb-4c58-a390-56325baf4630&theme=light">
            </iframe>
        </div>
        <!-- UK Map iframe from MongoDB Charts -->
        <div class="col s12 m6">
            <iframe title="Recipes by UK Country"             
            src="https://charts.mongodb.com/charts-ms3-w3-recipes-cluix/embed/charts?id=48e844c3-a9fa-4f4a-9dc4-21917450c8f8&theme=light">
            </iframe>
        </div>
    </div>
    <div class="row center-align">
        <!-- Uploaded by iframe from MongoDB Charts -->
        <div class="col s12 m6">
            <iframe title="Recipe uploades by User"            
            src="https://charts.mongodb.com/charts-ms3-w3-recipes-cluix/embed/charts?id=80233fba-4ad5-4638-ae0c-565efde1befe&theme=light">
            </iframe>
        </div>
        <!-- Recipe Type iframe from MongoDB Charts -->
        <div class="col s12 m6">
            <iframe title="Recipes by Category"            
            src="https://charts.mongodb.com/charts-ms3-w3-recipes-cluix/embed/charts?id=2bae9e2f-280f-46ca-8304-18a8b0464799&theme=light">
            </iframe>
        </div>
    </div>
    
{% endblock %}