{% extends "base.html" %}
{% block content %}

<!-- Edit User Profile Form -->
<div class="row">
    <form class="card-panel col s12 m6 offset-m3" method="POST" action="{{ url_for('edit_profile') }}">        
        <h3 class="center-align">
            Edit {{ username }}'s Profile
        </h3>
        <!-- User Profile Image -->
        <div class="col s12 m6 offset-m3 center-align">
            <img class="user-img" src="{{ image }}" alt="{{ username }} profile photo">
        </div>
        <div class="input-field col s12 m6 offset-m3 center-align">
            <i class="far fa-image prefix"></i>
            <input value="{{ image }}" placeholder="Image URL" id="image" name="image" 
                type="url" pattern="https://.*" class="validate">
            <label for="image">Profile Image or Avatar</label>
        </div>
        <!-- User Profile Details -->            
        <!-- City Input Field -->
        <div class="input-field col s12 m6 offset-m3 center-align">
            <i class="fas fa-map-marker-alt prefix"></i>
            <input value="{{ city }}" placeholder="Town/City where you live" id="city" 
                name="city" type="text" class="validate" required>
            <label for="City">Town/City</label>
        </div>                
        <!-- Subscription Status Switch -->
        <div class="switch col s12 m6 offset-m3 center-align">
            <span>Subscribe to this website: </span>
            <label for="subscribed">
                No
                {% if subscribed == "on" %}
                    <input type="checkbox" id="subscribed" name="subscribed" checked>
                {% else %}
                    <input type="checkbox" id="subscribed" name="subscribed">
                {% endif %}
                    <span id="edit-switch" class="lever"></span>
                Yes
            </label>
        </div>
        <!-- Email Input Field -->
        <div id="subs-email" class="input-field col s12 m6 offset-m3 center-align">
            <i class="fas fa-envelope prefix"></i>            
            <input value="{{ email }}" placeholder="john.smith@email.com" id="email" name="email"            
                type="text" class="validate" required>            
            <label for="email">Email Address</label>
        </div>
        <!-- Submit Button -->
        <div id="profile-edit" class="col s12 m6 offset-m3 center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Save Changes
            </button>
        </div>
    </form>    
</div>

{% endblock %}