{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Edit Your Recipe</h1>    
    
    <div class="row add-edit">
        <div class="col s12">
            <div class="row card-panel grey lighten-5">
                <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                    <div class="row">
                        <div class="col s12 l4">
                            <div class="input-field">
                                <!-- Country Select -->
                                <i class="fas fa-globe-americas prefix" aria-hidden="true"></i>
                                <select id="country_name" name="country_name" class="validate" required>                            
                                    <option value="" disabled>Choose Recipe Country</option>
                                    {% for country in countries %}
                                        {% if country.name == recipe.country_name %}
                                            <option value="{{ country.name }}" selected>{{ country.name }}</option>
                                        {% else %}
                                            <option value="{{ country.name }}">{{ country.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="country_name">Recipe Country of Origin</label>
                            </div>                    
                            <div class="input-field">
                                <!-- Recipe Name Input -->
                                <i class="fas fa-pen prefix" aria-hidden="true"></i>
                                <input value="{{ recipe.title }}" id="title" name="title" type="text" class="validate"
                                    minlength="10" maxlength="50" required>
                                <label for="title">Recipe Name</label>
                            </div>
                            <div class="input-field">
                                <!-- Recipe Category Select -->
                                <i class="fas fa-drumstick-bite prefix" aria-hidden="true"></i>
                                <select id="recipe_category" name="recipe_category" class="validate" required>                            
                                    <option value="" disabled selected>Choose Recipe Category</option>
                                    {% for category in categories %}
                                        {% if category.recipe_type == recipe.recipe_type %}
                                            <option value="{{ category.recipe_type }}" selected>{{ category.recipe_type }}</option>
                                        {% else %}
                                            <option value="{{ category.recipe_type }}">{{category.recipe_type }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="recipe_category">Recipe Category</label>
                            </div>
                            <div class="row form-field">
                                <!-- Vegan Switch -->
                                <div class="col s12 switch">
                                    <i class="fas fa-leaf prefix leaf"></i><span id="vegan-label" class="veg-text"> Vegan</span>                                    
                                    <label for="vegan">
                                        <span class="switch-text">No</span>
                                        {% if recipe.vegan == "on" %}
                                            <input type="checkbox" id="vegan" name="vegan" checked>
                                        {% else %}
                                            <input type="checkbox" id="vegan" name="vegan">
                                        {% endif %}
                                            <span class="lever"></span>
                                            <span class="switch-text">Yes</span>
                                    </label>
                                </div>
                                <!-- Vegetarian Switch -->
                                <div id="veg-switch" class="col s12 switch">                                    
                                    <i class="fas fa-seedling prefix leaf"></i><span class="veg-text"> Vegetarian</span>
                                    <label for="vegetarian">
                                        <span class="switch-text">No</span>
                                        {% if recipe.vegetarian == "on" %}
                                            <input type="checkbox" id="vegetarian" name="vegetarian" checked>
                                        {% else %}
                                            <input type="checkbox" id="vegetarian" name="vegetarian">
                                        {% endif %}
                                            <span class="lever"></span>
                                        <span class="switch-text">Yes</span>
                                    </label>    
                                </div>
                            </div>                          
                            <div class="input-field">
                                <!-- Servings Input Field -->
                                <i class="fas fa-users prefix" aria-hidden="true"></i>
                                <select id="servings" name="servings" class="validate" required>
                                    <option value="" disabled>Number of servings</option>
                                    {% for i in range(1, 31) %}
                                        {% if i == recipe.servings %}
                                            <option value="{{ recipe.servings }}" selected>{{ recipe.servings }}</option>
                                        {% else %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="servings">Servings</label>
                            </div>
                            <div class="input-field">
                                <!-- Image URL Input -->
                                <i class="fas fa-camera prefix" aria-hidden="true"></i>
                                <input value="{{ recipe.image }}" id="image_url" name="image_url" type="url"
                                    onchange="editImage();" pattern="https://.*" class="validate">
                                <label for="image_url">Recipe Image</label>
                            </div>
                            <div id="edit-img-container" class="center-align">
                                <!-- Image Display/Checking field -->
                                <p class="edit-img-text">Current Image</p>
                                <img src="{{ recipe.image }}" class="edit-img" alt="{{ recipe.title }}">
                                <p id="new-img" class="edit-img-text"></p>
                            </div>
                        </div>                    
                                        
                        <div class="col s12 m12 l4">
                            <!-- Preparation Time Input -->
                            <div class="input-field">
                                <i class="fas fa-stopwatch prefix" aria-hidden="true"></i>
                                <input value="{{ recipe.prep_time }}" id="prep_time" 
                                    name="prep_time" type="text" class="validate" required>
                                <label for="prep_time">Preparation Time</label>
                            </div>
                            <!-- Cooking Time Input Field -->
                            <div class="input-field">
                                <i class="fas fa-hourglass-half prefix" aria-hidden="true"></i>
                                <input value="{{ recipe.cooking_time }}" id="cooking_time" 
                                    name="cooking_time" type="text" class="validate" required>
                                <label for="cooking_time">Cooking Time</label>
                            </div>
                            <!-- Recipe Description Field -->                    
                            <div class="input-field">
                                <i class="fas fa-file-alt prefix" aria-hidden="true"></i>
                                <textarea id="description" name="description" 
                                    class="materialize-textarea validate" minlength="10" maxlength="200" required>
                                    {{- recipe.description -}}
                                </textarea>
                                <label for="description">Recipe Description</label>
                            </div>
                            <!-- Recipe Ingredients Input -->
                            <div class="input-field">
                                <i class="fas fa-list-ul prefix" aria-hidden="true"></i>
                                <textarea id="ingredients" name="ingredients" 
                                    class="materialize-textarea validate" minlength="4" required>
                                    {%- for item in recipe.ingredients -%}
                                        {{- item -}}{{ '\n' }}                                   
                                    {%- endfor -%}
                                </textarea>
                                <label for="ingredients">Recipe Ingredients</label>
                            </div>
                        </div>
                        <div class="col s12 m12 l4">
                            <!-- Recipe Method Input -->
                            <div class="input-field">
                                <i class="fas fa-list-ol prefix" aria-hidden="true"></i>
                                <textarea id="method" name="method" 
                                    class="materialize-textarea validate" minlength="10" required>
                                    {%- for step in recipe.method -%}
                                        {{- step -}}{{ '\n' }}
                                    {%- endfor -%}
                                </textarea>
                                <label for="method">Recipe Method</label>
                            </div>
                        </div>
                    </div>
                    <!-- Recipe Submit Button -->
                    <div class="row">
                        <div class="col s6 right-align">
                            <!-- Cancel Edits -->
                            <a href="{{ url_for('manage_recipes') }}" class="btn red darken-4">
                                Cancel <i class="fas fa-times-circle right hide-on-small-only" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col s6 left-align">
                            <button id="recipe-edit" type="submit" href="" class="btn waves-effect waves-light light-green darken-4 center-align">
                                Save <i class="fas fa-check-circle right hide-on-small-only" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>            
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}