{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Edit and Update your Recipe</h1>    
    
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row">
                <div class="col s12 l4">
                    <div class="input-field">
                        <!-- Country Select -->
                        <i class="fas fa-globe prefix"></i>
                        <select id="country_name" name="country_name" class="validate" required>                            
                            <option value="" disabled>Choose Recipe Country</option>
                            {% for country in countries %}
                                {% if country.country_name == recipe.country_name %}
                                    <option value="{{ country.country }}" selected>{{ country.country }}</option>
                                {% else %}
                                    <option value="{{ country.country }}">{{ country.country }}</option>
                            {% endfor %}
                        </select>
                        <label for="country_name">Recipe Origin</label>
                    </div>                    
                    <div class="input-field">
                        <!-- Recipe Name Input -->
                        <i class="fas fa-pen prefix"></i>
                        <input value="{{ recipe.title }}" id="title" name="title" type="text" 
                            class="validate" required>
                        <label for="title">Recipe Name</label>
                    </div>                    
                    <div class="input-field">
                        <!-- Servings Input Field -->
                        <i class="fas fa-utensils prefix"></i>
                        <select value="{{ recipe.servings }}" id="servings" name="servings" 
                            class="validate" required>                                                       
                        </select>
                        <label for="servings">Servings</label>
                    </div>
                    <div class="input-field">
                        <!-- Image URL Input -->
                        <i class="fas fa-camera prefix"></i>
                        <input value="{{ recipe.image }}" id="image_url" name="image_url" 
                            type="text" class="validate">
                        <label for="image_url">Recipe Image</label>
                    </div>
                    <div>
                        <!-- Image Display/Checking field -->
                        <img src="{{ recipe.image }}" alt="">
                    </div>
                </div>                    
                                
                <div class="col s12 m12 l4">
                    <!-- Recipe Description Field -->                    
                    <div class="input-field">
                        <i class="fas fa-file-alt prefix"></i>
                        <textarea id="description" name="description" class="materialize-textarea validate" 
                            value="{{ recipe.description }}" required></textarea>
                        <label for="description">Recipe Description</label>
                    </div>
                    <!-- Recipe Ingredients Input -->
                    <div class="input-field">
                        <i class="fas fa-list-ul prefix"></i>
                        <textarea id="ingredients" name="ingredients" class="materialize-textarea validate" 
                            value="{{ recipe.ingredients }}" required></textarea>
                        <label for="ingredients">Recipe Ingredients</label>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <!-- Recipe Method Input -->
                    <div class="input-field">
                        <i class="fas fa-list-ol prefix"></i>
                        <textarea id="method" name="method" class="materialize-textarea validate" 
                            value="{{ recipe.method }}" required></textarea>
                        <label for="method">Recipe Method</label>
                    </div>
                </div>
            </div>
            <!-- Recipe Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Cancel Edits -->
                    <a href="{{ url_for('manage_recipes') }}" class="btn-large red">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn waves-effect waves-light center-align" >Edit Recipe
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
            
        </form>
    </div>        

    
{% endblock %}