{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h1 class="center-align main-title">A World Wide Web of Recipes</h1>        
    </div>
</div>
<!-- Parallax feature adapted from (https://materializecss.com/parallax.html) -->
<div class="parallax-container">    
    <div class="parallax"><img id="hero-1" src="static/img/food-montage.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Search, and upload your favourite recipes from around the world.</h2>
        <h3>Lets see how many countries we can upload recipes for!</h3>
        <p>Do you ever get to the end of the wekk and crave something different to eat? Something that reminds you of that holiday is spain or the time you lived abroad!</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img id="hero-2" src="static/img/kofta-kebab.jpg"></div>
</div>
<div class="row">
    <div class="col">
        <p class="center-align">
            Not yet Registered? <a href="{{url_for('register')}}">Register your account here!</a>
        </p>
    </div>
</div>


<!--<div class="row">
    <div id="hero-image">
        <img src="/static/img/food-montage.jpg" class="responsive-img" alt="Food Montage">
    </div>
    <div class="col s12">
        <h1 class="center-align">The World Wide Web of Recipes</h1>        
    </div>
    
    <div class="col s12">
        <h2 class="center-align">Search, and upload your favourite recipes from around the world.</h2>
        <h3 class="center-align">Lets see how many countries we can upload recipes for!</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h3>How does this work?</h3>
        <ol>
            <li>Log In</li>
            <li>Add you Recipe</li>
            <li>Search the Database</li>
        </ol>
        <h4>Simple!</h4>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Not yet Registered? <a href="{{  url_for('register')}}">Register your account here!</a>
        </p>
    </div>
</div>-->   

{% endblock %}