{% extends "base.html" %}
{% block content %}

<!-- User Profile -->
<div class="row">
    <div class="col s12 m10 offset-m1 l6 offset-l3">
        <div id="profile-card" class="card-panel z-depth-4">
            <h3 class="center-align">
                {{ username }}'s Profile
            </h3>
            <div id="prof-img" class="col s12 m6 offset-m3 center-align">
                <img class="user-img circle" src="{{ image }}" alt="{{ username }}'s' profile photo">
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3 center-align">                    
                    <p><i class="fas fa-map-marker-alt prefix" aria-hidden="true"></i> 
                        Town / City: <span class="data">{{ city }}</span>
                    </p>
                    <p><i class="fas fa-envelope prefix" aria-hidden="true"></i> 
                        Email Address: <span class="data">{{ email }}</span>
                    </p>
                    {% if subscribed == "on" %}
                        <p>Subscription Status: <span class="data">Subscribed</span></p>
                    {% else %}
                        <p>Subscription Status: <span class="data">Not Subscribed</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <!-- Edit Profile -->
                <div id="profile-btn" class="col s6 right-align">
                    <a id="edit-prof" href="{{url_for('edit_profile')}}" 
                        class="waves-effect waves-light btn orange darken-2">Edit Profile
                    </a>
                </div>
                <!-- Delete Profile -->
                <div class="col s6 left-align">
                    <a href="#del-prof" class="red btn darken-4 modal-trigger tooltipped"
                        data-position="bottom" data-tooltip="Delete Profile">DELETE!</a>
                </div>
            </div>
        </div>
    </div>    
</div>
{% if uploaded >= 1 %}
    <!-- Link to Manage Recipes page -->
    <div class="row page-link">
        <div class="col s12 center-align">
            <h5>
                <a class="recipe-link hoverable" 
                    href="{{url_for('manage_recipes')}}">Manage your recipe uploads here!
                </a> 
            </h5>               
        </div>    
    </div>
{% else %}
    <!-- Link to Add a Recipe page -->
    <div class="row page-link">
        <div class="col s12 center-align">
            <h5>
                <a class="recipe-link hoverable" href="{{url_for('get_recipes')}}">Search the Recipe Database!</a>
            </h5>
        </div>
    </div>
{% endif %}

<!-- Delete Profile Modal - Check Message -->
<div id="del-prof" class="modal">
    <div class="modal-content">
        <h4>You have chosen to delete your profile, {{ username }}</h4>
        <p id="delete-check">Are you absolutely sure you would like to delete your profile?</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('profile', username=session['user']) }}" 
            class="modal-close waves-effect light-green darken-4 btn">Go Back</a>
        <a id="delete" href="{{ url_for('delete_profile') }}"
            class="modal-close waves-effect btn red darken-4">DELETE!</a>
    </div>
</div>

{% endblock %}