{% extends "base.html" %}
{% block content %}

<!-- User Profile -->
<div class="row">
    <div class="col s12 m6 offset-m3">
        <div id="profile-card" class="card-panel z-depth-4">
            <h3 class="center-align">
                {{ username }}'s Profile
            </h3>
            <div class="col s12 m6 offset-m3 center-align">
                <img class="user-img circle" src="{{ image }}" alt="{{ username }}'s' profile photo">
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3 center-align">                    
                    <p><i class="fas fa-map-marker-alt prefix" aria-hidden="true"></i> Town / City: {{ city }}</p>
                    <p><i class="fas fa-envelope prefix" aria-hidden="true"></i> Email Address: {{ email }}</p>
                    {% if subscribed == "on" %}
                        <p>Subscription Status: Subscribed</p>
                    {% else %}
                        <p>Subscription Status: Not Subscribed</p>
                    {% endif %}
                </div>
            </div>            
            <!-- Edit Profile -->
            <div id="profile-btn" class="col s12 m6 offset-m3 center-align">
                <a href="{{url_for('edit_profile')}}" class="waves-effect waves-light btn orange">Edit Profile</a>
            </div>
        </div>
    </div>    
</div>
<!-- Link to Manage Recipes page -->
<div class="row">
    <div class="col s12 center-align">
        <h5>
            <a id="manage-link" href="{{url_for('manage_recipes')}}">Manage your recipe uploads here!</a> 
        </h5>               
    </div>    
</div>


{% endblock %}