{% extends "base.html" %}
{% block content %}
    <h1 class="center-align">Recipes</h1>

    <div class="row container">
        <!-- Recipe Filter -->
        <form class="col s12 l5 card-panel z-depth-4" action="{{ url_for('filter') }}" method="post">
            <!-- Filter Recipes by Country -->            
            <div class="input-field col s12">                                     
            <i class="fas fa-globe-americas prefix" aria-hidden="true"></i>
                <select id="country_filter" name="country_filter" class="validate" required>                            
                    <option value="" disabled selected>Filter by Country</option>
                    {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <label for="country_filter"></label>
            </div>
            <!-- Recipe Filter and Reset Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="filter-button" class="btn waves-effect waves-light green" type="submit">Filter
                        <i class="fas fa-filter" aria-hidden="true"></i>
                    </button>
                    <a href="{{ url_for('get_recipes') }}" class="btn red">Reset <i class="fas fa-sync-alt" aria-hidden="true"></i></a>
                </div>
            </div>            
        </form>
        <!-- Recipe Search -->    
        <form class="col s12 l5 offset-l2 card-panel z-depth-4" action="{{ url_for('search') }}" method="post">
            <div class="input-field col s12">
                <i class="fas fa-search prefix" aria-hidden="true"></i>
                <input type="text" name="text_search" id="text_search" placeholder="Enter search text" class="validate" minlength="3" required>
                <label for="text_search"></label>
            </div>
            <!-- Recipe Search Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="search-button" class="btn waves-effect waves-light green" type="submit">Search
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>                    
                    <a href="{{ url_for('get_recipes') }}" class="btn red">Reset <i class="fas fa-sync-alt" aria-hidden="true"></i></a>
                </div>
            </div>
        </form>
    </div>

    <div class="row container">
        <!-- Recipe Cards -->
        {% for recipe in recipes %}            
            <div class="col s12 m6 xl4">            
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="recipe-image" src="{{ recipe.image }}" alt="{{ recipe.title }}">                
                        <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" 
                            class="btn-floating halfway-fab waves-effect waves-light blue">
                            <i class="fas fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </div>                          
                    <div class="card-content">                    
                        <h4 class="card-title recipe-title">{{ recipe.title }}</h4>
                        <div class="row">
                            <div class="col s8">
                                <p class="recipe-cards"><i class="fas fa-users" aria-hidden="true"></i> Servings: {{ recipe.servings }}</p>
                                <p class="recipe-cards"><i class="fas fa-stopwatch" aria-hidden="true"></i> Prep time: {{ recipe.prep_time }}</p>
                                <p class="recipe-cards"><i class="fas fa-hourglass-half" aria-hidden="true"></i> Cooking time: {{ recipe.cooking_time }}</p>
                                <p class="recipe-cards"><i class="fas fa-upload" aria-hidden="true"></i><em> Uploaded by: {{ recipe.uploaded_by }}</em></p>                                
                            </div>
                            <div class="col s4 center-align">                                                            
                                <p>{{ recipe.country_name }}</p>                                                            
                                <img src="https://flagcdn.com/48x36/{{ recipe.origin }}.png" alt="">                                                                                                                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                      
        {% endfor %}                  
    </div>
    <!-- Pagination Controls --> 
        {{ pages }} {{ page }} {{ total }}
        <ul class="pagination center-align">
            <li class="waves-effect"><a href="{{ url_for('get_recipes', page=prev_page) }}"><i class="fas fa-caret-square-left" aria-hidden="true"></i></a></li>
            {% for page in pages %}
                {% if page == page %}                    
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="{{ url_for('get_recipes', page=page) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="waves-effect"><a href="{{ url_for('get_recipes', page=next_page) }}"><i class="fas fa-caret-square-right" aria-hidden="true"></i></a></li>
        </ul>        
        
        
{% endblock %}