{% extends "base.html" %}
{% block content %}
    <h1 class="center-align">Recipes</h1>

    <div class="row container">
        <!-- Recipe Filter -->
        <form class="col s12 l5 card-panel z-depth-4" action="{{ url_for('filter') }}" method="post">
            <!-- Filter Recipes by Country -->            
            <div class="input-field col s12">                                     
            <i class="fas fa-globe-americas prefix" aria-hidden="true"></i>
                <select id="country_filter" name="country_filter" class="validate" required>                            
                    <option value="" disabled selected>Filter by Country</option>
                    {% for country in countries %}
                        <option value="{{ country.name }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <label for="country_filter">Country Filter</label>
            </div>
            <!-- Recipe Filter and Reset Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="filter-button" class="btn waves-effect waves-light green" type="submit">Filter
                        <i class="fas fa-filter" aria-hidden="true"></i>
                    </button>
                    <a href="{{ url_for('get_recipes') }}" class="btn red">Reset <i class="fas fa-sync-alt" aria-hidden="true"></i></a>
                </div>
            </div>            
        </form>
        <!-- Recipe Search -->    
        <form class="col s12 l5 offset-l2 card-panel z-depth-4" action="{{ url_for('search') }}" method="post">
            <div class="input-field col s12">
                <i class="fas fa-search prefix" aria-hidden="true"></i>
                <input type="text" name="text_search" id="text_search" placeholder="Enter search text" class="validate" minlength="3" required>
                <label for="text_search">Text Search</label>
            </div>
            <!-- Recipe Search Buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="search-button" class="btn waves-effect waves-light green" type="submit">Search
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>                    
                    <a href="{{ url_for('get_recipes') }}" class="btn red">Reset <i class="fas fa-sync-alt" aria-hidden="true"></i></a>
                </div>
            </div>
        </form>
    </div>

    <div class="row container recipe-container">
        <!-- Recipe Cards -->
        {% for recipe in recipes %}            
            <div class="col s12 m6 xl4">            
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="recipe-image" src="{{ recipe.image }}" alt="{{ recipe.title }}">                
                    </div>                          
                    <div class="card-content">                    
                        <a id="recipe-fab" href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" 
                            class="btn-floating halfway-fab waves-effect waves-light blue">
                            <i class="fas fa-search-plus" aria-label="Open Recipe"></i>
                        </a>
                        <h4 class="card-title recipe-title">{{ recipe.title }}</h4>
                        <div class="row top">
                            <div class="col s8">
                                <p class="recipe-cards"><i class="fas fa-drumstick-bite" aria-hidden="true"></i> 
                                    Category:<span class="data">{{ recipe.recipe_type}}</span>
                                </p>                                
                                <p class="recipe-cards"><i class="fas fa-users" aria-hidden="true"></i>
                                    Servings:<span class="data">{{ recipe.servings }}</span>
                                </p>
                                <div id="vegi" class="row">
                                    <div class="col s5 center-align">
                                        {% if recipe.vegan %}
                                        <span class="veg"><i class="fas fa-leaf" aria-label="Vegan Recipe"> Vegan</i></span>
                                        {% else %}
                                        <span class="not-veg"><i class="fas fa-leaf strikeout" aria-label="Vegan Recipe"> Vegan</i></span>
                                        {% endif %}
                                    </div>
                                    <!-- Vegetarian -->
                                    <div class="col s7 center-align">
                                        {% if recipe.vegetarian %}
                                        <span class="veg"><i class="fas fa-seedling" aria-label="Vegetarian Recipe"> Vegetarian</i></span>
                                        {% else %}
                                        <span class="not-veg"><i class="fas fa-seedling strikeout" aria-label="Vegetarian Recipe"> Vegetarian</i></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col s4 center-align">                                                            
                                <p>{{ recipe.country_name }}</p>                                                            
                                <img src="https://flagcdn.com/56x42/{{ recipe.origin }}.png" alt="{{recipe.country_name}}'s Flag'">                                                                                                                               
                            </div>
                        </div>
                        <div class="row uploaded-by">
                            <div class="col s8 offset-s2 center-align">
                                <p class="recipe-cards"><i class="fas fa-upload" aria-hidden="true"></i>
                                    Uploaded by: <span class="data">{{ recipe.uploaded_by }}</span>
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                      
        {% endfor %}                  
    </div>
    <!-- Link to Add a Recipe page -->
    <div class="row page-link">
        <div class="col s12 center-align">
            <h5>
                <a class="recipe-link hoverable" href="{{url_for('add_recipe')}}">Add your own recipe here!</a> 
            </h5>               
        </div>    
    </div>
    <!-- Pagination Controls -->        
    <ul class="pagination center-align">
        <li class="waves-effect"><a href="{{ url_for('get_recipes', current_page=prev_page) }}"><i class="fas fa-caret-square-left" aria-label="Previous Page"></i></a></li>
        {% for page in pages %}
            {% if current_page == page %}                    
                <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li class="waves-effect"><a href="{{ url_for('get_recipes', current_page=current_page) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="waves-effect"><a href="{{ url_for('get_recipes', current_page=next_page) }}"><i class="fas fa-caret-square-right" aria-label="Next Page"></i></a></li>
    </ul>
        
{% endblock %}