{% extends "base.html" %}
{% block content %}
    <h1 class="center-align">Recipes</h1>

<div class="col s12 m7">
    {% for recipe in recipes %}    
    <div class="card horizontal">
        <div class="card-image">
            <img class="recipe-image responsive-img" src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h4 class="header">{{ recipe.title }}</h4>
                <p>{{ recipe.description }}</p>
                <p><em>Uploaded by: {{ recipe.uploaded_by }}</em></p>
            </div>
            <div class="card-action center-align">
                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}" 
                class="waves-effect waves-light btn-small">
                <i class="fas fa-book-open"></i> View the full Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row"><!-- Remove if not used -->
    <div class="col s12 right-align">
        <!-- Element Showed -->
        <a id="menu" class="waves-effect waves-light btn btn-floating"><i class="fas fa-star"></i></a>
        
        <!-- Tap Target Structure -->
        <div class="tap-target" data-target="menu">
            <div class="tap-target-content">
                <h5>Title</h5>
                <p>A bunch of text</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}