{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register a New Account</h3>

<div class="row">
    <form class="col  s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel yellow lighten-3">
            <!-- Username Field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas prefix fa-user-plus"></i>
                    <input id="username" name="username" type="text" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username"><strong>Username</strong>                        
                        <i>(letters and numbers only, no punctuation or special characters)</i>                    
                    </label>
                </div>
            </div>
            <!-- Password Field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas prefix fa-user-lock"></i>
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password"><strong>Password</strong>
                        <i>(letters and numbers only, no punctuation or special characters)</i>
                    </label>
                </div>
            </div>
            <!-- Registration submission button -->
            <div class="row">
                <button type="submit" class="col s12 m4 offset-m4 btn-large btn modal-trigger light-green accent-4">
                    Register <i class="fas prefix fa-user-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already have an Account? <a href="{{  url_for('login')}}">Log in to your Account here!</a>
        </p>
    </div>
</div>

{% endblock %}