{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register a New Account</h3>

<div class="row">
    <form class="col  s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel yellow lighten-3">
            <!-- Username or Email Field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas prefix fa-user-plus"></i>
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username">Username or E-mail</label>
                </div>
            </div>
            <!-- Password Field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas prefix fa-user-lock"></i>
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Registration submission button -->
            <div class="row">
                <button type="submit" class="col s12 m4 offset-m4 btn-large light-green accent-4">
                    Register <i class="fas prefix fa-user-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}