{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register a New Account</h3>

<div class="row">
    <form class="col  s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel green lighten-5">
            <!-- Username Field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas prefix fa-user-plus" aria-hidden="true"></i>
                    <input id="username" name="username" type="text" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username"><strong>Username</strong>                        
                        <i>(a-z, A-Z and 0-9 only)</i>                    
                    </label>
                </div>
            </div>
            <!-- Password Field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas prefix fa-user-lock" aria-hidden="true"></i>
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password"><strong>Password</strong>
                        <i>(a-z, A-Z and 0-9 only)</i>
                    </label>
                </div>
            </div>
            <!-- Registration submission button -->
            <div class="row">
                <button type="submit" class="col s12 m4 offset-m4 btn-large btn light-green accent-4">
                    Register <i class="fas prefix fa-user-check" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Registration link -->
<div id="final-row" class="row">
    <div class="col s10 offset-s1">
        <div id="bot-signup" class="row signup-link">
            <div class="col s6 center-align s-up">
                <p class="register my-yellow">
                    Already have an account? 
                </p>
            </div>
            <div id="signup-box" class="col s6 center-align">
                <a class="signup-2 light-grey" href="{{url_for('login')}}">Log-in here!</a>
            </div>    
        </div>
    </div>
</div>

{% endblock %}